* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  background-image: url('./travel-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  z-index: -1;
}

.countdown-container {
  display: flex;
}

.countdown__title {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}


.countdown__value {
  padding: 4rem;
}

.countdown__big-text {
  color: #fff;
  text-align: center;
  font-size: 62px;
  font-weight: 700;
  cursor: pointer;
}

.countdown__value {
  font-weight: 500;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .countdown__title {
    font-size: 32px;
  }
  
  .countdown__value {
    padding: 2rem;
  }

  .countdown__big-text {
    font-size: 36px;
  }
}